.container {
    display: flex;
    flex-direction: column;
}

.images {
    height: 110vh;
    width: 110vw;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.base {
    position: absolute;
    z-index: 0;
    height:120vh;
    /* display:none; */
}

.logo{
    position:absolute;
    z-index:1;
    height:45vh;
    width:45vw;
    left:550px;
    /* top:180px; */
    top:500px;
    animation: myfirst 3s;
    animation-fill-mode: forwards;
    /* opacity:0; */
}

@keyframes myfirst {
    /* 0%   {top: 500px;} */
    /* 25%  {top: 400px;}
    50%  {top: 300px;}
    75%  {top: 200px;} */
    100% {top: 180px;}
}

.middle {
    position: absolute;
    z-index: 2;
    /* display: none; */
}

.front {
    position: absolute;
    z-index: 3;
    height:115vh;
    left:-80px;
    top:-40px;
    /* display:none; */
}

@media (max-width: 480px){
    .base{
        width:100vw;
        height: 120vh;
        /* left:10px; */
        object-fit: cover;
        /* display:none; */
    }

    .logo{
        left:70px;
        height:30vh;
        width:80vw;
        animation: myfirst 5s;
        animation-fill-mode: forwards;
        display:none;
    }

    @keyframes myfirst {
        /* 0%   {top: 500px;} */
        /* 25%  {top: 400px;}
        50%  {top: 300px;}
        75%  {top: 200px;} */
        100% {top: 230px;}
    }

    .middle{
        width:545px;
        left:-120px;
        height:95vh;
        top:150px;
        display:none;
    }

    .front{
        height:115vh;
        width:120vw;
        left:-50px;
        top:5px;
        display:none;
    }

}